/* style.css*/

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: "Roboto", sans-serif;
    /*padding: 0px 100px;*/
    margin: 0;
}

.one , .footer {
    background-color: #1F2937;
    display: flex;
    color: white;
}

.one , .two , .three {
    display: flex;
    flex-direction: column;
    padding: 0px 125px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    color: #E5E7EB;
}

ul {
    list-style: none;
    display: flex;
    gap: 10px;
}

.logo {
    font-weight: bold;
    font-size: 24px;
    color: #F9FAF8;
}

.container-one {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 25px 0px;
    gap: 50px;
}

.desc {
    display: flex;
    flex-direction: column;
    width: 500px;
    font-size: 18px;
}

button {
    background-color: #3882F6;
    color: white;
    margin: 16px 0px;
    border-radius: 5px;
}

.button-one {
    border: 0;
    padding: 5px 20px;
    font-size: 18px;
    font-weight: bold;
}

h1 {
    margin: 0;
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}

.image {
    display: flex;
    /*width: 500px;*/
    flex-direction: row;
    justify-content: flex-end;
    /*max-height: 400px;
    max-width: 400px;
    height: auto;
    width: auto;
    object-fit: cover;
    width: 100%;*/
    height: 325px;
    flex: 1;
    object-fit: cover;
}

img {
    max-width: inherit;
    max-height: inherit;
    height: inherit;
    width: inherit;
    object-fit: cover;
}

.two {
    align-items: center;
}

h3 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.boxes {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    gap: 25px;
    align-items: center;
}

.box-one , .box-two , .box-three , .box-four {
    display: flex;
    height: 125px;
    width: 125px;
    background-color: lightpink;
    border-radius: 7px;
}

.box-one {
    background-color: #A5C9FA;
}

.box-two {
    background-color: #D48ECD;
}

.box-three {
    background-color: #551177;
}

.box-four {
    background-color: #fd5e53;
}

.info {
    display: flex;
    flex-flow: row wrap;
    max-height: 125px;
    width: 125px;
    /*justify-content: center;
    align-items: center;*/
    text-align: start;
}

/*.information-one , .information-two , .information-three , .information-four {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}*/

.three {
    background-color: #E5E7EB;
    padding: 0px 200px;
    font-size: 36px;
    margin: 50px 0px;
}

.quote {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /*max-width: 750px;*/
    flex-wrap: wrap;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    margin-bottom: 0;
}

.author {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 10px;
}

.four {
    display: flex;
    flex-direction: row;
    padding: 0px 75px;
    justify-content: space-between;
    align-items: center;
    background-color: #3882F6;
    margin: 30px 125px;
    color: white;
    border-radius: 5px;
}

h4 {
    margin-bottom: 0;
}

.action {
    margin-top: 0px;
}

/*.container-two {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}*/

.button-two {
    border-color: white;
}
.footer {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
    margin-top: 50px;

}